@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --color-primary: #10B981;
  --color-primary-hover: #0A986A;

  --color-text-primary: #0F0F0F;
  --color-text-secondary: #525252;

  --color-bg-main: #F7F7F7;
  --color-card-bg: #FFFFFF;
  --color-accent: #1F2937;
}

body {
  background: var(--color-bg-main);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
